body {
  background-color: #fff;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  margin: 25px;
  min-width: 200px;
}

p {
  font-size: 10px;
  margin-bottom: 0;
}

label {
  display: block;
}

/* Pause button */
#pause.paused {
  background-color: #30ffbc;
}

#pause i:before {
  content: "\f04c";
}

#pause.paused i:before {
  content: "\f04b";
}

/* Refresh button */
#refresh {
  background-color: #56b9ff;
  display: none;
  transform: scale(0);
  transition: transform 0.1s ease;
}

#refresh.activated {
  display: block;
}

#refresh.pop-in {
  transform: scale(1);
  transition: transform 0.1s ease;
}

#refresh i {
  height: 0;
}

#refresh i:before {
  content: "\f021";
}
